<div class="container-fluid main-container mt-3">
    <div class="d-flex justify-content-center">
        <div class="col-12 col-sm-12 col-md-4 col-xl-4 col-lg-4">
            <div class="card border-primary mb-3">
                <div class=" card-header text-center font-weight-bold"><fa-icon [icon]="['fas', 'line-chart']"></fa-icon> Find</div>
                <div class="card-body text-primary">
                    <div class="mb-3">
                        <button type="button" [routerLink]="['/find']" class="btn btn-primary btn-lg btn-block col-12"><fa-icon [icon]="['fas', 'search']"></fa-icon> Find</button>
    
                    </div>
                    <div class="mb-3">
                        <button type="button" [routerLink]="['/inform']"  class="btn btn-secondary btn-lg btn-block col-12"><fa-icon [icon]="['fas', 'volume-control-phone']"></fa-icon> Inform others</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
 
</div>
